<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="%APPL_PHYSICAL_PATH%" />
        <add key="DJANGO_SETTINGS_MODULE" value="site1.settings" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="testpo1iis" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\scripts\site1\venv\Scripts\python.exe|C:\scripts\site1\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
