{% extends "layout.html" %}

{% block title %}
Площади - title
{% endblock %}

{% load static %}
{% block js %}
<script src="https://unpkg.com/axios@1.3.6/dist/axios.min.js"></script>
<script src="{% static 'mainform.js' %}?v=6"></script>
<script src="{% static 'index.js' %}"></script>
{% endblock %}

{% block content %}
<h1>   Ввод данных по месяцам работы</h1>
<hr>
<form action="" method="post" id="area-form">
    {% csrf_token %}
<!--{{form.as_p}}-->
<table class="table" style="width: auto">
    {% for f in form %}
    <tr>
        <td style="padding: 5px">{{f.label}}</td>
        <td style="padding: 5px">{{f}}{{f.help_text}}{{f.errors}}</td>
    </tr>
    {% endfor %}
</table>

<button type="submit">Добавить</button>
    <hr>
</form>
<div id="area-list">
    {% include 'area_list.html' %}
</div>
{% endblock %}
